nav {
  background-color: rgba(10, 96, 153, 0.918);
  height: 20px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo {
  font-size: large;
  font-weight: bold;
  font-style: italic;
}

.burger {
  margin-left: auto; /* ← pushes burger to the far right */
  font-size: 28px;
  cursor: pointer;
}
img {
  width: 50px; /* sets the width */
  height: auto;
}
