header {
  height: 80px; /* enough to fit nav and padding */
}

nav {
  background-color: rgba(10, 96, 153, 0.918);

  height: 100%; /* fill header */
  padding: 0 20px; /* only horizontal padding */
  display: flex;
  align-items: center; /* vertically center nav items */
  gap: 5px;
}
.logo {
  font-size: large;
  font-weight: bold;
  font-style: italic;
}

.burger {
  margin-left: auto; /* ← pushes burger to the far right */
  font-size: 28px;
  cursor: pointer;
}
header nav img {
  width: 50px; /* sets the width */
  height: auto;
}
