// .content {
//   background-image: url('../images/bigBgImage.webp');
//   flex: 1; /* fills remaining space */
// }
.content {
  flex: 1; /* fills remaining space */

  /* Background image */
  background-image: url('../images/bigBgImage.webp');
  background-size: cover; /* makes the image fill the entire area */
  background-position: center; /* centers the image */
  background-repeat: no-repeat; /* prevents tiling */
}

.textBox {
  padding: 30px 40px;
  border-radius: 12px;
  max-width: 400px;
  text-align: center;
  margin-top: 250px;
  margin-bottom: 100px;
  margin-left: 50px;

  /* Transparent background for frosted glass */
  background-color: rgba(255, 255, 255, 0.1);

  /* Frosted blur effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */

  /* Thin milky border */
  border: 1px solid rgba(255, 255, 255, 0.4);

  /* No shadow */
  box-shadow: none;
}
.text {
  padding: 30px;
  font-size: large;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .content {
    background-image: url('/images/smallBgImage.webp');
  }
  .textBox {
    max-width: 60%;
    padding: 15px 20px;
  }
}
img {
  width: 80px; /* sets the width */
  padding-top: 25px;
}

.list {
  display: grid;

  list-style: none;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  column-gap: 0px;

  padding: 20px;
}

button {
  background-color: rgba(10, 96, 153, 0.918);
  width: 350px;
  height: 50px;
  border-radius: 12px;
  border: 0cap;
}

//. @media (max-width: 400px) {
//. .content {
//.  background-image: url('../images/smallBgImage.web');
//.background-size: cover;
//.background-position: no-repeat;
//.}
