.list {
  display: grid;

  list-style: none;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  column-gap: 0px;

  padding: 0;

  margin: 0;
}
footer {
  background-color: rgb(229, 232, 238);
  text-align: center;
}

footer ul li img {
  width: 35px; /* sets the width */
  padding-top: 25px;
}

footer ul li div {
  padding: 5px;
}
.smallFont {
  font-size: 14px;
}
.footerContainer {
  padding: 40px 60px;
}
